<body>
  <div class="card-login text-center">
    <h4>CLINICA ODONTOLOGICA IESIT</h4>


    <!-- Contenedor de imágenes -->
    <div class="d-flex justify-content-center align-items-center gap-3 my-3">
     
      <img src="assets/ODONTO.png" alt="Logo 2"
        style="width: 80px; height: 120px; object-fit: cover;">
    </div>



    <form (ngSubmit)="loginSubmit()" #loginForm="ngForm">
      <div class="mb-3 text-start">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" [(ngModel)]="usuario" name="usuario" id="usuario" class="form-control" required placeholder="Ingrese su nombre de usuario" >
      </div>

      <div class="mb-3 text-start">
        <label for="contrasena" class="form-label">Contraseña</label>
        <input type="password" [(ngModel)]="contrasena" name="contrasena" id="contrasena" class="form-control" required placeholder="Ingrese su contraseña" >
      </div>

      <button type="submit" class="btn btn-login w-100">Iniciar sesión</button>
    </form>



    <p class="footer-text mt-3">Clínica Odontológica IESIT © 2025</p>


  </div>